<div class="container">

</div>
  
<style>

/* Responsive */
/* Desktop */
@media screen and (max-width: 1440px) {}
/* Tablet */
@media screen and (max-width: 768px) {}
/* Phone */
@media screen and (max-width: 375px) {}

</style>
  
{% schema %}
  {
    "name": "Section Name",

    "settings": [],

    "presets": [
      {
        "name": "Section Name",
        "category": "Section Category"
      }
    ]
  }
  {% endschema %}
  