<div class="product-collection-list container">
    <div class="product-collection-list-row row">

        {% for block in section.blocks limit: section.blocks.size %}
        {%- assign collection = collections[block.settings.collection] -%}
        <div class="col product-collection-list-row_item">
            <img src="{{ collection.image | img_url: "master" }}" alt="Product Item">
            <a href="{{ collection.url }}" class="product-collection-list-row_item-link" >
                {{ collection.title }}
                <span>{% include 'icon-arrow-right' %}</span>
            </a>
        </div>
        {% endfor %}


        
      

    </div>
</div>
  
  
<style>

.product-collection-list {
    margin-bottom: 55px;
}   
.product-collection-list-row_item {
    height: 362px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.product-collection-list-row_item img {
    width: 328px;
    height: 334px;

    object-fit: cover;
} 

.product-collection-list-row_item-link {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    /* or 20px */
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #000000 !important;

    margin-top: 12px;

    position: relative;
}

.product-collection-list-row_item-link > span {
    visibility: hidden;
    opacity: 0;
    
    position: absolute;

    right: 0px;

    transition: all .3s;
}

.product-collection-list-row_item-link:hover > span {
    visibility: visible;
    opacity: 1;

    right: -25px;
}

/* Responsive */
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 768px) {
}
</style>
  
  {% schema %}
  {
    "name": "Product Collection List",

    "settings": [
    ],

    "blocks": [
        {
            "type": "featured_collection",
            "name": "Collection",

            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
  
    "presets": [
      {
        "name": "Product Collection List",
        "category": "Collection"
      }
    ]
  }
  {% endschema %}
  